extends layout

block content
h1= title 

-var herbs = [{herb_name: 'Lavender', scent: 'Sweet', medicinal_uses: 'Relaxation'}, {herb_name: 'Peppermint', scent: 'Minty', medicinal_uses: 'Digestion'},{herb_name: 'Chamomile', scent: 'Floral', medicinal_uses: 'Sleep aid'}]


.container-fluid
    .row
      each f,index in results 
        .col-sm-2(onclick=buy(${index}))
          | #{f.herb_name}, #{f.scent}, $#{f.medicinal_uses}
          
  script.
    function buy(index) {
      alert(`You purchased Item: ${index+1}`);
    }


 

  
    


